*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background:url();
	background-repeat: no-repeat;
	background-size: cover;
	background-color:black;
}
.scnUM{
	background-color: #1C1C1C;
	height: 50px;
	width: 100%;
	padding: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.divUM{
	height: 75px;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.imgNTX{
	height: 100%;
	width: 20%;
}
.netflix{
	height: 100%;
	width: 100%;
}
.lista{
	width: 400px;
	height: 50px;
	color: white;
	display: flex;
	align-items: center;
	justify-content:space-between;
}
li{
	display: flex;
	align-items: flex-start;

}
.divDOIS{
	height: 50px;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.kids {
	color: white;
}
.imgs{
	height: 50px;
	width: 270px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.imgLUPA{
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	padding: 3%;
	position: relative;
	right: 180px;
}
.imgSINO{
    height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	padding: 3%;
}
.imgAVATAR{
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	padding: 3%;
}
.busca{
	color: white;
  	background-color:transparent;
  	border-style: solid;
  	border-width: 1px;
  	border-color: transparent;
  	height:22px;
  	width:260px;
}
.lupa{
	height: 65%;
	width: 65%;
}
.sino{
	height: 65%;
	width: 65%;
}
.avatar{
	height: 100%;
	width: 100%;
}





.scnDOIS{
	height: 75vh;
	width: 100vh;
	background-color: transparent;
	margin: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.divTRES{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.Nserie{
	display:flex;
	justify-content: center;
	align-items: center;
}
.sts{
	width: 80%;
}
.divQUATRO{
	margin: 20px;
	width: 80%;
}
.info{
	display: flex;
	justify-content: space-around;
}
.verde{
	font-size: 20px;
	color: #ADFF2F;
}
.ano{
	color: white;
	font-size: 20px;
}
.BQ{
	color: white;
	font-size: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}
.text{
	margin: 20px;
	color: white;
	font-size: 20px;
}