*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
background-color: white;
}
.scnUM{
	background-color: #1C1C1C;
	height: 50px;
	width: 100%;
	padding: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.divUM{
	height: 75px;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.imgNTX{
	height: 100%;
	width: 20%;
}
.netflix{
	height: 100%;
	width: 100%;
}
.lista{
	width: 400px;
	height: 50px;
	color: white;
	display: flex;
	align-items: center;
	justify-content:space-between;
}
li{
	display: flex;
	align-items: flex-start;

}
.divDOIS{
	height: 50px;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.kids {
	color: white;
}
.imgs{
	height: 50px;
	width: 270px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.imgLUPA{
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	padding: 3%;
	display: flex;
	flex-direction: row-reverse;
}
.imgSINO{
    height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	padding: 3%;
}
.imgAVATAR{
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	padding: 3%;
}
.triangulo{
	width: 0; 
 	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid white;
}
.busca{
	color: white;
  	background-color:transparent;
  	border-style: solid;
  	border-width: 1px;
  	border-color: white;
  	height:22px;
  	width:260px;
  	display: contents;
}
.lupa{
	height: 65%;
	width: 65%;
}
.sino{
	height: 65%;
	width: 65%;
}
.avatar{
	height: 100%;
	width: 100%;
}




.scnDOIS{
	background-image:linear-gradient(90deg,black,transparent);
	background:url(https://www.animefestival.de/img/uploads/program/cd4a3439b523e5d2eef7bad443ddbd84_The-Seven-Deadly-Sins-Prisoners-of-the-Sky.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color:black;
	width:100%;
	height:100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.divTRES{
	height: 75vh;
	width: 55vw;
	background-image:linear-gradient(90deg,black,transparent);
	display: flex;
	align-items: center;
	flex-direction: column;
}
.divQUATRO{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.Nserie{
	display:flex;
	justify-content: center;
	align-items: center;
}
.sts{
	width: 80%;
}
.divCINCO{
	margin: 20px;
	width: 80%;
}
.info{
	display: flex;
	justify-content: space-around;
}
.verde{
	font-size: 25px;
	color: #ADFF2F;
}
.ano{
	color: white;
	font-size: 25px;
}
.BQ{
	color: white;
	font-size: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}
.text{
	margin: 20px;
	color: white;
	font-size: 30px;
}
.divSEIS{
	margin: 70px;
	display: flex;
	justify-content: space-between;
}
h2{ 
	height: 50px;
	width: 150px;
	color: white;
	background:rgba(0, 0, 0, 0.7);
	border-radius: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}




.scnTRES{
	width:100%;
	height:200vh;
	display: flex;
	flex-direction: column;

}
.listaSERIE{
	width:100%;
	height:120vh;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.serie{
	width:100%;
	height:30vh;
	background-color: red;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.stranger{
	height: 100%;
	width: 24%;
	display: flex;
}
.okja{
	height: 100%;
	width: 24%;
	display: flex;
}
.narcos{
	height: 100%;
	width: 24%;
	display: flex;
}
.order{
	height: 100%;
	width: 24%;
	display: flex;
}
.capitao{
	height: 100%;
	width: 24%;
	display: flex;
}
.vingadores{
	height: 100%;
	width: 24%;
	display: flex;
}
.velozes{
	height: 100%;
	width: 24%;
	display: flex;
}
.furiosos{
	height: 100%;
	width: 24%;
	display: flex;
}
.naruto{
	height: 100%;
	width: 24%;
	display: flex;
}
.nanatsu{
	height: 100%;
	width: 24%;
	display: flex;
}
.baki{
	height: 100%;
	width: 24%;
	display: flex;
}
.shippuden{
	height: 100%;
	width: 24%;
	display: flex;
}